<html>

<head>
    <title>BJ_MF</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/swiper.min.css">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <!-- <meta name="full-screen" content="yes"> -->


    <script src='node_modules/jquery/dist/jquery.min.js'></script>
    <script src='node_modules/vue/dist/vue.min.js'></script>
    <script src='vendor/js.cookie.js'></script>
    <script src='vendor/wx.js'></script>
    <script src='vendor/swiper.min.js'></script>
</head>

<body>
    <div style='color: white' id="app">
        <div class='main'>
            <div style='position: absolute; height: 100%; width: 100%;'>
                <canvas class='full'></canvas>
            </div>
            <div id="svgContainer" :class='{ tab: true, map: true, visible: ui.footer.selection == 0}'>
            </div>
            <div :class='{ tab: true, schedule: true, visible: ui.footer.selection == 1}'>
                <div class='secondary-tab'>
                    <div class='holder'>
                        <div data-tab='0' :class='{ selected: ui.schedule.selection == 0 }'>论坛</div>
                        <div data-tab='1' :class='{ selected: ui.schedule.selection == 1 }'>舞台</div>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!--论坛-->
                            <div class='scrollContainer'>
                                <template v-for='d, j in data.day_forum'>
                                    <div class='date'><span>{{j}}</span></div>
                                    <div v-for='x, y in d' class='sch'>
                                        <div><b>{{x.tag}}</b> {{x.from_str + " - " + x.to_str}}</div>
                                        <div>当前</div>
                                        <div>&nbsp;&nbsp;&nbsp;{{x.title}}</div>
                                        <div class='speakers'>
                                            <div class='speaker'>
                                                <div class='avatar' v-bind:style="{ 'background-image': 'url(assets/speakers/' + (x.id + 1) + '.jpg)' }"></div>
                                                <div class='vcenter'>
                                                    <div class='name'>{{x.name}}</div>
                                                    <div class='intro'>{{x.job}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <!--舞台-->
                            <div class='scrollContainer'>
                                <template v-for='d, j in data.day_stage'>
                                    <div class='date'><span>{{j}}</span></div>
                                    <div v-for='x, y in d' class='sch'>
                                        <div>{{x.from_str + " - " + x.to_str}}</div>
                                        <div>正在进行中</div>
                                        <div>{{x.title}}</div>
                                        <div style='font-size:0.8em'>{{x.desc}}</div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div :class='{ tab: true, game: true, visible: ui.footer.selection == 2}'>
                <!-- <h1 style='font-family: DNumber; font-size: 5rem;'>35</h1> -->
                <div class='secondary-tab'>
                    <div class='holder'>
                        <div data-tab='0' :class='{ selected: ui.game.selection == 0 }'>勋章</div>
                        <div data-tab='1' :class='{ selected: ui.game.selection == 1 }'>游戏集戳展位</div>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class='scrollContainer'>
                                <div id='robot'>
                                    <div class='outline'>
                                        <div :class='{active: user.badge[0]}'></div>
                                        <div :class='{active: user.badge[1]}'></div>
                                        <div :class='{active: user.badge[2]}'></div>
                                        <div :class='{active: user.badge[3]}'></div>
                                        <div :class='{active: user.badge[4]}'></div>
                                        <div :class='{active: user.badge[5]}'></div>
                                        <div :class='{active: user.badge[6]}'></div>
                                        <div :class='{active: user.badge[7]}'></div>
                                        <!-- 9 -->
                                        <div :class='{active: user.badge[8]}'></div>
                                        <div :class='{active: user.badge[8]}'></div>
                                        <!-- 10 -->
                                        <div :class='{active: user.badge[9]}'></div>
                                        <div :class='{active: user.badge[9]}'></div>
                                    </div>
                                </div>
                                <h3>已收集了</h3>
                                <h2><b>{{collectedLength()}}</b> / 10</h2>
                                <h3>零部件</h3>
                                <p>
                                    <b>游戏规则</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit
                                    a fuga modi hic, voluptatibus provident sed eius, ipsa repudiandae, illo impedit iste
                                    est quam quae aperiam inventore iure quos?
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='scrollContainer'>
                                <div class='map3d'>
                                    <div v-on:click='showDetail(queryPos(d.key), d)' v-for="d in data.keys" :class='{pin: true, active: isActivated(d.key), near: isNear(d.key)}'>
                                        <div class='pop'>{{d.key.replace('-', '')}}</div>
                                        <div class='p' style='white-space:pre'>{{d.desc}}</div>
                                    </div>
                                    <!-- bk -->
                                    <!-- <div class='pin'>
                                        <div class='pop'></div>
                                        <div class='p'>intel Curie<br>互动展位</div>
                                    </div>
                                    <div class='pin'>
                                        <div class='pop'></div>
                                        <div class='p'>intel Curie<br>互动展位</div>
                                    </div> -->
                                    <!-- b -->
                                    <!-- <div class='pin'>
                                        <div class='pop'></div>
                                        <div class='p'>intel Curie<br>互动展位</div>
                                    </div>
                                    <div class='pin'>
                                        <div class='pop'></div>
                                        <div class='p'>intel Curie<br>互动展位</div>
                                    </div> -->
                                    <!-- c -->
                                    <!-- <div class='pin'>
                                        <div class='pop'></div>
                                    </div> -->
                                    <!-- d -->
                                    <!-- <div class='pin'>
                                        <div class='pop'></div>
                                    </div>
                                    <div class='pin'>
                                        <div class='pop'></div>
                                    </div>
                                    <div class='pin'>
                                        <div class='pop'></div>
                                    </div>
                                    <div class='pin'>
                                        <div class='pop'></div>
                                    </div>
                                    <div class='pin'>
                                        <div class='pop'></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer" v-bind:class="{ footer: true, hide: !ui.footer.visible }">
                <div v-on:click="footerSelection" data-tab='0' v-bind:class='{ selected: ui.footer.selection == 0 }'></div>
                <div v-on:click="footerSelection" data-tab='1' v-bind:class='{ selected: ui.footer.selection == 1 }'></div>
                <div v-on:click="footerSelection" data-tab='2' v-bind:class='{ selected: ui.footer.selection == 2 }'></div>
            </div>
        </div>

        <div :class='{ detail: true, show: !!ui.detail.data }'>
            <div v-bind:style="{ 'background-image': 'url(assets/bg/' + (ui.detail.data ? ui.detail.data.key.split(',')[0] : '') + '.jpg)' }" class='bg'>
                <div v-on:click="function(a) {vote(ui.detail.data.key)}" :class='{like : true, ed: voted(ui.detail.data.key)}'>
                    <div></div>
                    <div>{{getVotes(ui.detail.data.key)
                        < 0 ? "..." : getVotes(ui.detail.data.key)}}</div>
                    </div>
                    <div class='bottom'>
                        <div class='title'>{{ui.detail.data.name}}</div>
                        <div class='position'>{{ui.detail.data.key}}</div>
                    </div>
                </div>
                <p>
                    {{ui.detail.data.intro}}
                </p>

                <p v-if='ui.detail.src && ui.detail.src.rule' class='rule'>
                    <b>游戏规则</b> {{ui.detail.src.rule}}
                </p>
                <div v-if='ui.detail.src && ui.detail.src.rule' :class='{ collect: true, ed: isActivated(ui.detail.src.key) }' v-on:click="collectBadge(ui.detail.src.key)"
                    style='white-space:nowrap'>
                    <img src="assets/ico2.png" />
                    <span v-if="isTargetPresent(ui.detail.src.key) && !isActivated(ui.detail.src.key)">完成游戏<br>收集零件</span>
                    <span v-if="!isTargetPresent(ui.detail.src.key) && !isActivated(ui.detail.src.key)">靠近区域<br>收集勋章</span>
                    <span v-if="isActivated(ui.detail.src.key)">零件<br>已收集</span>
                </div>
            </div>

            <div class='debug' style='pointer-events: none; display: none;'>
                <!-- <canvas class='full'></canvas> -->
                <p class='logger'>{{dmesg.msg}}</p>
            </div>

        </div>
    </div>
    <script src='dist/main.js'></script>
</body>

</html>