@import "./shared.less";

html,
body {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "PingFang-SC", "PingFangSC", "Microsoft Yahei", "Microsoft Yahei UI", "Segoe UI", "Roboto", "OpenSans", "Arial", sans-serif;
}

body {
    background: @color-bg;
}
