@import "./shared.less";
.detail {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    top: 0;
    overflow: auto;
    z-index: 999999 + 1;
    pointer-events: none;
    transform: translate(-50%, 0%);
    transition: all 0.5s ease;
    background: lighten(@color-bg, 3%);
    &.show {
        pointer-events: all;
        opacity: 1;
        transform: translate(0, 0);
    }
}

.main {
    pointer-events: all;
    transition: all 0.5s ease;
    opacity: 1;
    transform: translate(0%, 0%);
}

.main.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(50%, 0%);
}

.detail p {
    padding: 1.5rem 2.5rem;
    font-size: 1rem;
    line-height: 2.2rem;
    opacity: 0.8;
    text-indent: 2em;

    &.rule {
        text-align: center;
        text-indent: 0em;
        font-weight: 100;
        font-size: 0.9em;
        opacity: 0.8;
        b {
            border-bottom: 1px solid rgba(255,255,255,0.3);
            display:block;
            margin: 0.5rem;
        }
    }
}

.detail .collect {
    @h: 5rem;
    font-size: 1.2rem;
    // padding: 1.5rem 2.5rem;
    border: 2px solid @color-r;
    margin: 2.5rem;
    height: @h;
    line-height: @h * 0.98;
    font-weight: 800;
    text-align:center;
    img {
        float: left;
        height: @h;
        display: inline-block;
        // margin-right: 1rem;
        background: @color-r;
    }

    &.ed {
        background: @color-r;
        opacity: 0.5;
    }
}

.detail .bg {
    min-height: 50%;
    position: relative;
    background-size: cover;
    width: 100%;
    background-position: 50% 50%;
    &:after {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 2rem;
        right: 2rem;
        text-align: center;
        z-index: 9999;
        color: white;
        .title {
            font-size: 1.6em;
            font-weight: 800;
            margin: 1rem;
        }
        .position {
            padding: 0.3rem 0.8rem;
            border: 2px solid @color-b;
            display: inline-block;
            color: @color-b;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
}

.like {
    z-index: 9999;
    position: relative;
    padding: 1.2rem;
    >div:nth-child(1) {
        display: inline-block;
        height: 3rem;
        vertical-align: top;
        width: 3rem;
        background-image: linear-gradient(to left bottom, @color-r 0%, #9e2143 100%);
        border: 2px solid @color-r;
    }
    >div:nth-child(2) {
        vertical-align: top;
        display: inline-block;
        font-family: DNumber;
        font-size: 1.56rem;
        margin-left: 5px;
        line-height: 3.3rem;
    }
}