svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    .view {
        fill: red;
    }
    .d1 *,
    .d2 *,
    .d3 * {
        opacity: 0;
    } // z-index: 89888;
    .v * {
        opacity: 1;
    }
}